.applicationFormHeading{
    padding-top: 17px;
    padding-bottom: 15px;
    width:100%;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}
.borang_ejkdb{
    background-color: #f7f7f7; /* Light gray background color */
    height: 100%;
    padding: 20px; /* Adjust padding as needed */
    border-top: 0.5px dashed #d4d4d4;
    border-radius: 0px; /* Optional: adjust corner radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}
.borang_ejkdb_heading{
    background-color: #dfdede; /* Light gray background color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center;
    border-radius: 8px; /* Optional: adjust corner radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}
.dashed-line-table-selector{
    padding: 20px; /* Adjust padding as needed */
    border: 2.5px dashed #252525;
    border-radius: 8px; /* Optional: adjust corner radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}

/*To format the view of pengesahan borang permohonan*/
.grid_table{
    display: grid;
    grid-template-columns: max-content max-content;
}

.grid_table > *:nth-child(even)::before {
    content: " : ";
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form:
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
} */

/* Mark the active step: */
.step.active {
    color: rgb(136, 26, 226);
}

/* Mark the steps that are finished and valid: */
.step.finish {
    color: #464646;
}

/*Footer*/
footer {
    background-color: #dfdede; /* Gray color */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(63, 61, 61); /* Text color */
    text-align: center;
    padding: 20px; /* Adjust as needed */
    position: static; /* Fixed positioning */
    left: 0;
    bottom: 0;
    width: 100%;
}