*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
    /*margin-bottom: 100px;*/
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(63, 61, 61);
}
nav{
    background-color: rgb(136, 26, 226);
    overflow: hidden;
    /*box-shadow: 3px 3px 5px rgba(0,0,0,0.1);*/
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 30px;
}
nav a{
    height: 100%;
    padding: 0 40px;
    padding-top: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
nav a:hover{
    color: #000000;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(136, 26, 226, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
.applicationFormHeading{
    padding-top: 17px;
    padding-bottom: 15px;
    width:100%;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}
.borang_ejkdb{
    background-color: #f7f7f7; /* Light gray background color */
    height: 100%;
    padding: 20px; /* Adjust padding as needed */
    border-top: 0.5px dashed #d4d4d4;
    border-radius: 0px; /* Optional: adjust corner radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}
.borang_ejkdb_heading{
    background-color: #dfdede; /* Light gray background color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center;
    border-radius: 8px; /* Optional: adjust corner radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}
.maklumat-pekerjaan-selector{
    padding: 20px; /* Adjust padding as needed */
    border: 2.5px dashed #252525;
    border-radius: 8px; /* Optional: adjust corner radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow */
}
footer {
    background-color: #dfdede; /* Gray color */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(63, 61, 61); /* Text color */
    text-align: center;
    padding: 20px; /* Adjust as needed */
    position: static; /* Fixed positioning */
    left: 0;
    bottom: 0;
    width: 100%;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

